[Unit]
Description=lnd
Wants={{lnd_bitcoin_node}}.service
After={{lnd_bitcoin_node}}.service

[Service]
ExecStart=/usr/local/bin/lnd
User={{lnd_user}}

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
